body{
    color:#f0c1ca;
    background-color:#01204E;
   }
   
h1{
  color: #219C90;
  text-align: center;
  font-size: 40px;
  background-color: black;
  margin-bottom: 0;
}

   a{

    color: burlywood;
   }

   #club{
    border-radius: 25%;
    width: 89%;
    margin: 0 auto;
   }


    .sizes{
      width: 330px;
      height: 380px;
    }

    .col{
      margin: 10px;
    }

    ul{
      list-style: none;
      display: flex;
      background-color: rgb(103, 110, 116);
      color: #219C90;
      margin: 0;
    }

    .hold{
      display: inline-block;
      margin-bottom: 5px;
      padding: 0;
    
    }

li{
  margin-right: 14px;
}